<%- include partials/header.ejs%>
  <body>
    <div class="container">
      <div class="row">
        <% for(let i = 0; i<movie.length; i++){%>
          <div class="col s12 m6">
            <div class="card">
              <img src="images/<%= movie[i].image%>"  class= 'card-img-top img-fluid'>
              <span class="card-title"> <strong><%= movie[i].title%></strong>, <%= movie[i].released%> </span>
              <div class="card-content">
                <p>
                  <%= movie[i].overview%>
                </p>
              </div>
              <a class="my-2 my-sm-0" href="/movie/<%= movie[i].id %>">More...</a>
            </div>
          </div>
          <%}%>
      </div>
    </div>
    </div>
  </body>
<%- include partials/footer.ejs%>